

<div class="container">
  <div class="row">

    <div class="col-lg-8">
      <h1 class="mt-4">Topldhgpiohgihpohic Title</h1>
      <p class="lead">
        by Nattalie
      </p>

      <hr>

      <hr>
      <img class="img-fluid rounded" style="float:initial" src="http://placehold.it/900x500" alt="">

      <hr>

      <p class="lead">Description : This is a description of the report</p>
    
      <p>Location : Sample location</p>
      <hr>

      <div>
            <button type="submit" class="btn btn-primary" style="float:right">Close Report</button>
      </div>
